streamlit
ultralytics==8.3.167
Pillow
numpy
pandas
matplotlib
seaborn
scikit-learn
mysql-connector-python
opencv-python-headless
plotly
paddleocr==2.6.1.3
paddlepaddle==2.5.1
python-dotenv

